{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
	<h1>About</h1>
	<p> This site is built using python Flask. It is a text only message board type blog site. Each posts can be viewed by anyone in public. Only registered user is able to create new posts, and only the author of the post can edit or delete the post. User is able to delete his or her own account once registered, and once the account is deleted, the posts authored by the account will be deleted as well.</p>
	<br><br>
	<p> For more information, please check my
	<a href="https://github.com/leechieh/Python-Flask-Web-Application-Practice-Blog">github</a> page.</p>

</div>
{% endblock %}